<%- include("header") -%>

  <div class="box" id="heading">
    <h1> <%= listTitle %> </h1>
  </div>

  <div class="box">
    <% for (let i=0; i<newListItems.length; i++) { %>
      <form action="/delete" method="post">
      <div class="item">
        <p><%=  newListItems[i].name  %></p>
        <button type="submit" name="deleteButton" class="deletebutton" value="<%=newListItems[i]._id%>">❌</button>
  </div>
      <input type="hidden" name="listName" value="<%=listTitle%>"></input>
    </form>
      <% } %>

      <form class="item" action="/" method="post">
        <input type="text" name="newItem" placeholder="New Item" autocomplete="off"  autofocus>
        <button class="addButton" type="submit" name="list" value="<%=listTitle%>" >+</button>
      </form>
  </div>
<footer>This is your <strong><%=currentList%></strong>  List</footer>
<!-- <%- include("footer") -%> -->
